.component {
  margin-bottom: 20px;
}

.title {
  color: var(--theme-support-settings-text-color);
  font-family: var(--font-semibold);
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 4px;
}